.bottom-top-card {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 2rem 3rem 3rem 3rem;
  &--img {
    width: 100%;
  }
  &--header {
    font-size: 4rem;
    font-weight: 800;
  }
  &--text {
    font-size: 2rem;
    padding-top: 1.5rem;
    text-align: justify;
  }
}
