.navigator {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 0;
  background-color: black;
  border-bottom: 2px solid #ee236b;
  a {
    font-size: 1.6rem;
    text-decoration: none;
    color: whitesmoke;
    padding: 1rem 3rem;
    border: 1.5px solid white;
    transition: 200ms ease-in-out;
    &:hover {
      color: black;
      background-color: whitesmoke;
    }
  }
}
