.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  &--logo {
    img {
      width: 60%;
    }
  }
  &--nav {
    display: flex;
    p,
    a {
      color: whitesmoke;
      text-decoration: none;
      font-size: 1.7rem;
      font-family: $main-font;
      cursor: pointer;
      letter-spacing: 0.2rem;
      &:hover {
        color: #ee236b;
      }
    }
    &__item {
      margin-left: 7rem;
    }
  }
}
