.services-page {
  &--business {
    background-color: black;
    &__row {
      margin: 3rem auto 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3rem;
      padding: 0 6rem;
    }
  }
  &--clients {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
