.services-page {
  background-color: black;
  &--business {
    &__row {
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 4rem;
      padding: 0 3rem;
    }
  }
}
