.work-page {
  //   background-color: blue;

  &--banner {
    min-height: 100vh;
    background-color: black;
    > img {
      margin-top: 10rem;
      width: 80%;
    }
    position: relative;
    overflow-x: hidden;
    h2 {
      color: whitesmoke;
      font-family: $fancy-font;
      font-size: 21rem;
      text-align: right;
      position: absolute;
      bottom: 11rem;

      right: -2rem;
    }
  }

  &--works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
    .work-page--row:last-child {
      div:last-child {
        .work-card-small__header {
          font-family: $fancy-font !important;
          text-align: center;
        }
        .work-card-small__description {
          text-align: center;
          color: #ee236b;
          font-weight: 800 !important;
        }
      }
    }
  }
  &--row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3.5rem;
    margin-top: 5rem;
  }
  &--row-left-large {
    grid-gap: 5rem;
    grid-template-columns: 2fr 1fr 1fr;
    .work-card-large {
      img {
        width: 90%;
      }
    }
  }
  &--row-middle-large {
    grid-gap: 5.2rem;
    grid-template-columns: 1fr 2fr 1fr;
  }
  &--row-right-large {
    grid-template-columns: 1fr 1fr 2fr;
  }
}
