.work-card-small {
  display: flex;
  flex-direction: column;
  width: 32rem;
  img {
    width: 100%;
  }
  &__header {
    font-weight: 800;
    font-size: 2.8rem;
    padding-top: 1rem;
  }
  &__description {
    font-weight: 200 !important;
    font-size: 2rem;
  }
}
